/* HTML elements */
h3 {
	/* text-align: center; */
	padding: 1rem;
}

ul {
	list-style-image: url(assets/hardware.png);
}

/* Custom classes */
.header {
	width: 100%;
	background-color: rgb(61, 67, 97);
	text-align: center;
	color: white;
	font-family: 'Courier New', monospace;
}

.container {
	margin-top: 5em;
}

#first-row {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.card-container {
	min-height: 188.391px;
	width: 40%;
}

.icon {
	display: block;
	height: 5em;
	width: 5em;
	margin: auto;
	margin-top: 25%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Amount label + balance */
.amount-container {
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
}

.amount-title {
	margin-left: 0.9em;
	font-size: 1.2em;
}

.amount {
	display: flex;
	font-size: 1.2em;
}

/* Details section */
#row-details {
	display: none;
}

.details-container {
	display: flex;
	justify-content: space-between;
}

.computer-section {
	margin-left: 1em;
}

.buy-container {
	display: flex;
	/* padding-left: 5em; */
	justify-content: center;
}

#computer-image {
	max-width: 17em;
	max-height: 17em;
	margin-right: 4em;
	margin-top: 2em;
}

#computer-price {
	/* color: red; */
	font-size: 2.5em;
	margin-left: 2.5em;
}

/* Media queries */
@media screen and (max-width: 1400px) {
	.icon {
		height: 4em;
		width: 4em;
	}
	#computer-image {
		margin-top: 5em;

		max-width: 14em;
		max-height: 14em;
	}
}

@media screen and (max-width: 1200px) {
	.icon {
		height: 3em;
		width: 3em;
	}
}

@media screen and (max-width: 992px) {
	.icon {
		height: 2em;
		width: 2em;
	}
}
